@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root{
    --primary-font:'Nunito', sans-serif;
    --secondary-font:'Oxygen', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --primary_color:#1fff5a;
    --secondary_color:orange;
}
body{
    font-family: var(--secondary-font);
    overflow-x: hidden;
}
.about_h1,.serv-h1,.work-h1,.contact-h1 {
    border: 2px solid var(--primary_color);
    border-width: 2px 0px;
    display: inline-block;
    padding: 5px 0px 7px 0px;
    margin-bottom: 20px;
}
.work-h1,.contact-h1 {
    color:  black !important;
}
.service-cont,.work-cont,.contact-cont{
    margin-top: 80px;
    color: white !important;
}

/* full width backgroung images  */
.full-Bg {
    width: 100vw;
    height: 85vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.full-Bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85vh;
    background-color: rgba(0, 0, 0, 0.3);
}
.full-Bg{
    background-image: url("../images/full-bg/full-bg.jpg");
}
/* .bg-fixed{
    background-image: url("../images/bg fixed/bg-fixed1.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.bg-fixed::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2000px;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.3);
    /* background: url("../images/bg fixed/bg-fixed2.jpg") no-repeat fixed center/cover; */
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }*/ 
.bg-fixed::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1830px;
    background-color: rgba(0, 0, 0, 0.3);
}
.bg-fixed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1830px;
   background: url("../images/bg fixed/bg-fixed2.jpg") no-repeat fixed center/cover;
    z-index: -1;
}
/* .home{
    background-image: url("../images/bg fixed/bg-fixed1.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2000px;
    background-color: rgba(0, 0, 0, 0.3);
} */
/* slider for home page start here  */


/* my work start here */

/* contact start here  */
.contact-cont{
}
.feilds,.msg-feilds{
    margin-top: 25px;
}
.form-feild{
    padding: 7px 0px 7px 10px;
    width: 100%;
    text-transform: capitalize;
    font-family: var(--secondary-font);
   font-weight: bold;
   color: rgb(73, 80, 87);
   background-color: rgb(255, 255, 255);
   border: 1px solid rgb(206, 212, 218);
}
.feilds div{
    width: 330px !important;
}
/* footer start here  */
.footer a{
    color: white !important;
    display: inline-block;
}
.footer p{
    color: white;
}
.footerRow{
    width: 90%;
    margin: auto;
}
.footer-cols{
    width: 40%;
    margin: 0px 15px;
    padding: 20px 0px;
}
.social-link{
    border: 2px solid white;
    border-radius: 50%;
    height: 40px !important;
    padding: 10px;
    margin: 0px 5px;
    
}
.message p{
    padding: 10px 0px;
    word-spacing: 0.1rem;
    line-height: 1.5rem;
    text-align: justify;
}
.message h1{
    color: white !important;
}
.copyright{
    background-color: #fff;
    padding: 10px 0px;
}
.copyright p,.copyright a{
    color: black !important;
}
.btn{
    cursor: pointer;
    padding: 5px 10px;
    color: black;
    background-color:transparent;
    border: 2px solid black;
    border: none;
    transition: all .3s ease;
    display: inline-block;
    margin: 10px 0px;
    padding: 10px 20px;
    text-align: center;
    text-transform: capitalize;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}
.btn:hover{
    transition: all .3s ease;
    background-color: var(--secondary_color);
    background-color:transparent;
    box-shadow: none;
    opacity: 0.8;

}
