
@import url("./variable.css");

body{
    font-family: var(--secondary-font);
    overflow-x: hidden !important;
    cursor: default;
}
.about_h1,.serv-h1,.work-h1,.contact-h1 {
    border: 2px solid var(--primary_color);
    border-width: 2px 0px;
    display: inline-block;
    padding: 5px 0px 7px 0px;
    margin-bottom: 2rem;
    font-size: 3.5rem;
}
.work-h1,.contact-h1 {
    color:  black !important;
}
.work-cont,.contact-cont{
    margin-top: 8rem;
    color: white !important;
}
/* bread crump */
.breadcrump{
    font-size: 4rem;
    padding: 1.2rem 1rem;
    padding-left: 5rem;
    position: absolute;
    bottom: 0;
    left: 0;
}
ul.breadcrump-list{
    transform: translateY(5px);
    margin-left: 30px;
    padding: 10px 0px;
}
ul.breadcrump-list li+li:before{
    content: "/\00a0";
}
.breadCrump-link{
    display: inline !important;
    font-weight: bolder;
}
.react-rotating-text-cursor {
    animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
  }
  
  @keyframes blinking-cursor {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
/* full width backgroung images  */
.full-Bg {
    width: 100vw;
    height: 85vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../images/full-bg/full-bg.jpg");
    font-family: var(--secondary-font);
    color:white;
}
.full-Bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85vh;
    background-color: rgba(0, 0, 0, 0.3);
}
.fullBgwrapper{
    position: relative;
    height: 100%;
    /* padding-top: 10rem; */
}
.zeeshan{
    align-self: end;
   
}
/* footer start here  */
.footer a{
    color: white !important;
    display: inline-block;
}
.footer p{
    color: white;
}
.footerRow{
    width: 90%;
    margin: auto;
}
.footer-cols{
    width: 40%;
    margin: 0px 15px;
    padding: 20px 0px;
}
.social-link{
    border: 2px solid white;
    border-radius: 50%;
    height: 40px !important;
    padding: 10px;
    margin: 0px 5px;
    
}
.message p{
    padding: 10px 0px;
    word-spacing: 0.1rem;
    line-height: 1.5rem;
    text-align: justify;
}
.message h1{
    color: white !important;
}
.copyright{
    background-color: #fff;
    padding: 10px 0px;
}
.copyright p,.copyright a{
    color: black !important;
}

