@media screen and (min-width: 1500px) {
    :root{
        font-size: 100%;
    }
    .container{
        max-width: 100%;
    }

  }
@media screen and (max-width: 1200px) {
    :root{
        font-size: 60%;
    }
  }
@media screen and (max-width: 1050px) {
    :root{
        font-size: 52%;
    }
  }
@media screen and (max-width: 900px) {
    :root{
        font-size: 47%;
    }
    .Logo{
      margin-left: 3rem !important;
    }
    .about_h1,.serv-h1,.work-h1,.contact-h1 {
      font-size: 4rem;
  }
    .aboutRow,.workRows{
      flex-wrap: wrap;
      justify-content: center;
    }
    .aboutRow {
      margin: 2rem 3rem  !important;
  }
    .sevs-row {
      flex-wrap: wrap;
      flex-direction: column;
    }
    .about_cols{
      width: 100% !important; 
    }
    .works,.services {
      width: 60% !important; 
      margin: 2rem 1rem;
    }
    .services {
      width: 70% !important; 
      margin: 2rem 1rem;
    }
  }
@media screen and (max-width: 750px) {
  :root{
    /* font-size: 45%; */
  }
  .nav-Link::before {
    display: none !important;
}
  .myintro {
    padding: 0 2rem !important;
}
  .myintro h1 {
    font-size: 5rem !important;
} 
.myintro p{
    font-size: 4rem !important;
} 

.my-img,.my-img2{
  height: 37rem !important;
  width: 28rem !important;
}
/* .my-img2 {
  height: 70vh;
  width: 40rem;
  border: 3px solid #ffffff;
  padding: 0.5rem;
  border-radius: 50%;
} */
  .works{
    width: 50% !important;
  }
  .cont-form{
    width: 85% !important;
  }
}
@media screen and (max-width: 550px) {
  :root{
    /* font-size: 40%; */
  }
  .slide {
    height: 100% !important;
  }

.myintro p{
    font-size: 4rem !important;
} 
.introbtn{
   font-size: 3rem !important;
}
.my-img,.my-img2{
  height: 30rem !important;
  width: 28rem !important;
}
  .wrapper{
  flex-wrap: wrap-reverse !important;
  justify-content: center !important;
  align-items: center !important;
  padding-bottom: 7rem !important;
  height: 90vh !important;
  }
  .fullBgwrapper{
  flex-wrap: wrap-reverse;
  /* justify-self: center !important; */
  padding: 10rem 0 !important;
  }
  .works{
    width: 70% !important;
  }
  .works:hover{
    margin-left: 6rem !important;
    /* border-radius: 30%; */
    
}
  .work-intro{
    padding: 15% 0% !important;
  }
  .proName{
    font-size: 2.7rem !important;
}
.proIntro{
    font-size: 2.3rem !important;
}
.projLink{
    font-size: 2.3rem !important;
}
  .services {
    width: 100% !important; 
    margin: 2rem 0rem;
    }
    .feilds div{
      width: 100% !important;
      margin-bottom: 1rem;
    }
    .feilds, .msg-feilds {
      display: flex;
      margin-top: 0 !important;
      flex-direction: column;
  }
  .btn-inp{
    text-align: center;
  }
  
  }
@media screen and (max-width: 350px){
  .myintro h1 {
      font-size: 4rem !important;
  }
  .myintro p {
    font-size: 3.5rem !important;
}
.introbtn{
  font-size: 2rem !important;
}

}
  