*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none !important;
}
.container-100{
    width: 100%;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    height: auto;
}
.bg-white{
    background-color: #ffffff;
}
.shadow{
    box-shadow: 0px 2px 6px 0px rgb(50 50 50 / 80%);

}
a{
    text-decoration: none;
    color: black;
    display:block;
}
li{
    list-style: none;
}
span{
    display: inline-block;
}
.capitalize{
    text-transform: capitalize !important;
}
.uppercase{
    text-transform: uppercase !important;
}
.fullwidth-container{
    width: 100%;
}
.flex{
    display: flex;
}
.flexwrap{
    flex-wrap: wrap;
}
.flexallcenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-direction-column{
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: end;
}
.justify-flex-end{
    justify-content: flex-end;
} 
.justify-evenly{
    justify-content:space-evenly;
}
.justify-between{
    justify-content:space-between;
}
.justify-around{
    justify-content: space-around;
}

.align-center{
    align-items: center;
}
.center{
    text-align: center;
}
.text-justify{
    text-align: justify;
}
.bg-dark{
    background-color: #000000;
}
.btn{
    cursor: pointer;
    padding: 5px 10px;
    color: black;
    background-color: rgb(138 138 255);
    border: 2px solid black;
    transition: all .3s ease;
    display: inline-block;
    margin: 10px 0px;
    text-align: center;
    text-transform: capitalize;
}
.btn:hover{
    opacity: 0.8;

}
.hide{
    display: none;
}
.show {
    display: block;
}
.marginX-0{
    margin-top:0  !important;
    margin-bottom: 0 !important;
}
input{
    outline: none;
    font-family: var(--primary-font); 
}
.fixed{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}
.my-top{
    margin-top: 4rem;
}
.border{
    border: 2px solid black;
}
