*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none !important;
}
.container-100{
    width: 100%;
}
.container{
    max-width: 117rem;
    margin: 0 auto;
    height: 100%;
}
.bg-white{
    background-color: #ffffff;
}
.shadow{
    box-shadow: 0px 2px 6px 0px rgb(50 50 50 / 80%);

}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
}
a{
    text-decoration: none;
    color: black;
    display:block;
}
li{
    list-style: none;
}
span{
    display: inline-block;
}
.capitalize{
    text-transform: capitalize !important;
}
.uppercase{
    text-transform: uppercase !important;
}
.fullwidth-container{
    width: 100%;
}
.flex{
    display: flex;
}
.flexwrap{
    flex-wrap: wrap;
}
.flexallcenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-direction-column{
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: end;
}
.justify-flex-end{
    justify-content: flex-end;
} 
.justify-evenly{
    justify-content:space-evenly;
}
.justify-between{
    justify-content:space-between;
}
.justify-around{
    justify-content: space-around;
}

.align-center{
    align-items: center;
}
.center{
    text-align: center;
}
.text-justify{
    text-align: justify;
}
.bg-dark{
    background-color: #000000;
}

.hide{
    display: none;
}
.show {
    display: block;
}
.marginX-0{
    margin-top:0  !important;
    margin-bottom: 0 !important;
}
input{
    outline: none;
    font-family: var(--primary-font); 
}
.fixed{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}
.my-top{
    margin-top: 4rem;
}
.border{
    border: 2px solid black;
}
.hrline{
    border-bottom: 2px solid rgba(121, 121, 121, 0.508);
    position: relative;
    /* top: 40px; */
}
.btn{
    cursor: pointer;
    padding: 5px 10px;
    color: black;
    background-color:transparent;
    border: 2px solid black;
    border: none;
    transition: all .3s ease;
    display: inline-block;
    margin: 10px 0px;
    padding: 10px 20px;
    text-align: center;
    text-transform: capitalize;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}
.btn:hover{
    transition:all .3s ease-in;
    /* background-color:rgba(0, 0, 0, 0.727); */
    background-color:var(--primary_color);
    color: white !important;
    border: none;
    box-shadow: none;
    opacity: 1;
    margin-left: 10px;

}