/* Services start here */

.services{
    padding: 1rem;
    width: 30%;
    margin-top: 3rem;
    color: white !important;
    /* box-shadow: rgb(50 50 93) 0px 2px 13px 5px, rgb(255 255 255) -1px -5px 8px 4px; */
    box-shadow: rgb(255, 255, 255) 0px 5px 15px;
    /* border: 2px solid black; */
    border-radius: 1rem;
    /* background-color: rgba(0, 0, 0, 0.5);  */


}
.service-cont{
    /* color: white; */
    padding: 5rem 0px;
    width: 100%;
    height: 100%;
    background-color: black;
   /* background: url("../../images/bg fixed/bg-fixed2.jpg") no-repeat fixed center/cover; */
  
    
}
.serv-h1{
    color: white !important;

}
.service-cont::before{

}
.subserv-h{
   margin-top: 1.5rem;
   
}
.subserv-h h2{
  display: inline-block;
   border-bottom: 0.4rem solid var(--secondary_color);
   font-size: 2.3rem;
}
.serv-para{
    padding: 1rem 1.5rem;
    margin: 1rem 0px;
    text-align: justify;
    word-spacing: 0.075rem;
    font-family: var(--primary-font);
    /* color: white; */
    /* border: 2px solid rgba(255, 255, 255, 0.515); */
    border-bottom: 0.3rem solid  var(--secondary_color);
    border-radius:  1rem;
    font-size: 1.8rem;
}
.sevs-row{
    /* margin-top: 40px; */
    padding: 0px 6rem;
    /* color: white !important; */
}