@import "../../css folder/variable.css";
/* contact start here  */
.contact-cont{
}
.feilds,.msg-feilds{
    margin-top: 2.5rem;
}
.form-feild{
    padding: 7px 0px 7px 10px;
    width: 100%;
    text-transform: capitalize;
    font-family: var(--secondary-font);
   font-weight: bold;
   color: rgb(73, 80, 87);
   background-color: rgb(255, 255, 255);
   border: 1px solid rgb(206, 212, 218);
   transition:  box-shadow .3s ease-in-out;
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
   font-size: 2rem;
}
.feilds div{
    width: 33rem ;
    padding: 0.5rem 1.2rem;
}
.msg-feilds,.btn-inp{
    padding: 0.5rem 1.2rem;

}
.form-feild:focus{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border: 2px solid rgba(0, 0, 0, 0.426);
    
}
.contbtn{
    background-color:  var(--secondary_color);
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    
}
/* .contbtn:hover{
    background-color:  var(--primary_color) !important;

} */