.rows{
    position: relative;
}
.work-1{
    background: url(../../images/works/work-01.webp) no-repeat center center/cover;
}
.works{
    height: 350px;
    width: 380px;
    margin: 15px;
    color:white;
    position: relative;
    padding-left: 20px;
    transition: .5s all ;
}
@keyframes animate{
    0%   {height: 0%;}
    25%   {height: 15%;}
    50%   {height: 25%;}
    100%   {height: 50%;}
}
/* @keyframes animateup{
    0%   {height: 0%;}
    25%   {height: 15%;}
    50%   {height: 25%;}
    100%   {height: 50%;}
} */

.hover-effect-up{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* height: 50%; */
    background-color: rgba(0, 255, 42, 0.57);
    opacity: 0;
}
.hover-effect-down{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color:rgba(182, 182, 182, 0.378);
    opacity: 0;
    
}
/* .works:hover >.hover-effect-up {

    animation: animateup 1s linear 0s 1 alternate;
    opacity: 1;
} */
.works:hover > .hover-effect-down,.works:hover >.hover-effect-up{
    opacity: 1;
    animation: animate .3s linear 0s 1 alternate;
}
/* .works:hover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 42, 0.4);

} */
.works-contents{
    position: absolute;
    bottom: 10px;
    z-index: 100;
}
.works-contents p{
    font-size: 20px;
    font-weight: bolder;   
}
