.picker{
    position: fixed;
    top: 30%;
    left: 0%;
    display: inline-block;
    z-index: 1000;
}
.picker button{
  padding: 5px 7px;
  margin-bottom: 5px;
  cursor: pointer;
  background-color:rgba(255, 255, 255, 0.494);
  color: var(--secondary_color) ;
  border: 2px solid rgba(0, 0, 0, 0.453);
  transition: all .5s ease;
}
.pBtn{
    color: var(--primary_color) !important;
}
.picker button:hover{
background-color: rgba(0, 0, 0, 0.234);
}